In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df=pd.read_csv('test.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [3]:
df.shape

(1459, 80)

In [4]:
df.drop(['Alley','PoolQC','MiscFeature','Fence'],axis=1,inplace=True)
df.shape

(1459, 76)

In [5]:
def check_nulls(df):
    for i in range(len(df.columns)):
        if df.isnull().sum()[i]>0:
            print(df.columns[i],':',df.isnull().sum()[i])

In [6]:
check_nulls(df)

MSZoning : 4
LotFrontage : 227
Utilities : 2
Exterior1st : 1
Exterior2nd : 1
MasVnrType : 16
MasVnrArea : 15
BsmtQual : 44
BsmtCond : 45
BsmtExposure : 44
BsmtFinType1 : 42
BsmtFinSF1 : 1
BsmtFinType2 : 42
BsmtFinSF2 : 1
BsmtUnfSF : 1
TotalBsmtSF : 1
BsmtFullBath : 2
BsmtHalfBath : 2
KitchenQual : 1
Functional : 2
FireplaceQu : 730
GarageType : 76
GarageYrBlt : 78
GarageFinish : 78
GarageCars : 1
GarageArea : 1
GarageQual : 78
GarageCond : 78
SaleType : 1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 76 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1455 non-null   object
 3   LotFrontage    1232 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   LotShape       1459 non-null   object
 7   LandContour    1459 non-null   object
 8   Utilities      1457 non-null   object
 9   LotConfig      1459 non-null   object
 10  LandSlope      1459 non-null   object
 11  Neighborhood   1459 non-null   object
 12  Condition1     1459 non-null   object
 13  Condition2     1459 non-null   object
 14  BldgType       1459 non-null   object
 15  HouseStyle     1459 non-null   object
 16  OverallQual    1459 non-null   int64
 17  OverallCond    1459 non-null   int64
 18  YearBuilt      1459 non-null   int64
 19  YearRemodAdd   1459 non-null   int64
 20  RoofStyle      1459 non-null   object
 21  RoofMatl       1459 non-null   object
 22  Exterior1st    1458 non-null   object
 23  Exterior2nd    1458 non-null   object
 24  MasVnrType     1443 non-null   object
 25  MasVnrArea     1444 non-null   float64
 26  ExterQual      1459 non-null   object
 27  ExterCond      1459 non-null   object
 28  Foundation     1459 non-null   object
 29  BsmtQual       1415 non-null   object
 30  BsmtCond       1414 non-null   object
 31  BsmtExposure   1415 non-null   object
 32  BsmtFinType1   1417 non-null   object
 33  BsmtFinSF1     1458 non-null   float64
 34  BsmtFinType2   1417 non-null   object
 35  BsmtFinSF2     1458 non-null   float64
 36  BsmtUnfSF      1458 non-null   float64
 37  TotalBsmtSF    1458 non-null   float64
 38  Heating        1459 non-null   object
 39  HeatingQC      1459 non-null   object
 40  CentralAir     1459 non-null   object
 41  Electrical     1459 non-null   object
 42  1stFlrSF       1459 non-null   int64
 43  2ndFlrSF       1459 non-null   int64
 44  LowQualFinSF   1459 non-null   int64
 45  GrLivArea      1459 non-null   int64
 46  BsmtFullBath   1457 non-null   float64
 47  BsmtHalfBath   1457 non-null   float64
 48  FullBath       1459 non-null   int64
 49  HalfBath       1459 non-null   int64
 50  BedroomAbvGr   1459 non-null   int64
 51  KitchenAbvGr   1459 non-null   int64
 52  KitchenQual    1458 non-null   object
 53  TotRmsAbvGrd   1459 non-null   int64
 54  Functional     1457 non-null   object
 55  Fireplaces     1459 non-null   int64
 56  FireplaceQu    729 non-null    object
 57  GarageType     1383 non-null   object
 58  GarageYrBlt    1381 non-null   float64
 59  GarageFinish   1381 non-null   object
 60  GarageCars     1458 non-null   float64
 61  GarageArea     1458 non-null   float64
 62  GarageQual     1381 non-null   object
 63  GarageCond     1381 non-null   object
 64  PavedDrive     1459 non-null   object
 65  WoodDeckSF     1459 non-null   int64
 66  OpenPorchSF    1459 non-null   int64
 67  EnclosedPorch  1459 non-null   int64
 68  3SsnPorch      1459 non-null   int64
 69  ScreenPorch    1459 non-null   int64
 70  PoolArea       1459 non-null   int64
 71  MiscVal        1459 non-null   int64
 72  MoSold         1459 non-null   int64
 73  YrSold         1459 non-null   int64
 74  SaleType       1458 non-null   object
 75  SaleCondition  1459 non-null   object
dtypes: float64(11), int64(26), object(39)
memory usage: 866.4+ KB

### Fill NaN Values

In [8]:
df.MasVnrType = df.MasVnrType.fillna('NA')
df.MasVnrArea = df.MasVnrArea.fillna(0)
df.BsmtQual = df.BsmtQual.fillna('NA')
df.BsmtCond = df.BsmtCond.fillna('NA')
df.BsmtExposure = df.BsmtExposure.fillna('NA')
df.BsmtFinType1 = df.BsmtFinType1.fillna('NA')
df.BsmtFinType2 = df.BsmtFinType2.fillna('NA')
df.FireplaceQu = df.FireplaceQu.fillna('NA')
df.GarageType = df.GarageType.fillna('NA')
df.GarageYrBlt = df.GarageYrBlt.fillna('NA')
df.GarageFinish = df.GarageFinish.fillna('NA')
df.GarageQual = df.GarageQual.fillna('NA')
df.GarageCond = df.GarageCond.fillna('NA')

In [9]:
check_nulls(df)

MSZoning : 4
LotFrontage : 227
Utilities : 2
Exterior1st : 1
Exterior2nd : 1
BsmtFinSF1 : 1
BsmtFinSF2 : 1
BsmtUnfSF : 1
TotalBsmtSF : 1
BsmtFullBath : 2
BsmtHalfBath : 2
KitchenQual : 1
Functional : 2
GarageCars : 1
GarageArea : 1
SaleType : 1

In [10]:
df.MSZoning = df.MSZoning.fillna(df.MSZoning.mode()[0])
df.LotFrontage = df.LotFrontage.fillna(df.LotFrontage.mean())

In [11]:
df.BsmtFullBath = df.BsmtFullBath.fillna(0)
df.BsmtHalfBath = df.BsmtHalfBath.fillna(0)
df.GarageCars = df.GarageCars.fillna(0)
df.GarageArea = df.GarageArea.fillna(0)

In [12]:
df.SaleType = df.SaleType.fillna('Oth')

In [13]:
check_nulls(df)

Utilities : 2
Exterior1st : 1
Exterior2nd : 1
BsmtFinSF1 : 1
BsmtFinSF2 : 1
BsmtUnfSF : 1
TotalBsmtSF : 1
KitchenQual : 1
Functional : 2

In [14]:
df[['BsmtQual','BsmtFinSF1']][df.BsmtFinSF1.isnull()]

    BsmtQual  BsmtFinSF1
660       NA         NaN

In [15]:
df.Utilities = df.Utilities.fillna(df.Utilities.mode()[0])
df.Exterior1st = df.Exterior1st.fillna(df.Exterior1st.mode()[0])
df.Exterior2nd = df.Exterior2nd.fillna(df.Exterior2nd.mode()[0])
df.KitchenQual = df.KitchenQual.fillna(df.KitchenQual.mode()[0])
df.Functional = df.Functional.fillna(df.Functional.mode()[0])

In [16]:
df.BsmtFinSF1 = df.BsmtFinSF1.fillna(0)
df.BsmtFinSF2 = df.BsmtFinSF2.fillna(0)
df.BsmtUnfSF = df.BsmtUnfSF.fillna(0)
df.TotalBsmtSF = df.TotalBsmtSF.fillna(0)

In [17]:
check_nulls(df)

In [18]:
df['Age'] = 2020-df.YearBuilt

In [19]:
df.drop(['YearBuilt','YearRemodAdd','GarageYrBlt','MoSold','YrSold'],axis=1,inplace=True)
df.shape

(1459, 72)

### Adding train_set to have all possible values for dummy-encoding

In [20]:
df.shape

(1459, 72)

In [21]:
df[1458:]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,SaleType,SaleCondition,Age
1458,2919,60,RL,74.0,9627,Pave,Reg,Lvl,AllPub,Inside,...,190,48,0,0,0,0,0,WD,Normal,27

In [22]:
df.to_csv('test_clean.csv',index=False)

In [23]:
X_train = pd.read_csv('X_train_clean.csv')
X_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,SaleType,SaleCondition,Age
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,61,0,0,0,0,0,WD,Normal,17
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,298,0,0,0,0,0,0,WD,Normal,44
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,42,0,0,0,0,0,WD,Normal,19
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,0,35,272,0,0,0,0,WD,Abnorml,105
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,192,84,0,0,0,0,0,WD,Normal,20

In [24]:
X_train.shape

(1458, 72)

In [25]:
final_df = pd.concat([df,X_train],axis=0)
final_df.shape

(2917, 72)

### Scaling

In [26]:
from sklearn.preprocessing import MinMaxScaler

In [27]:
scaler = MinMaxScaler()
final_df[
    [
        'LotFrontage','LotArea','MasVnrArea','BsmtFinSF1','BsmtFinSF2','BsmtUnfSF','TotalBsmtSF',
        '1stFlrSF','2ndFlrSF','LowQualFinSF','GrLivArea','GarageArea','WoodDeckSF','OpenPorchSF',
        'EnclosedPorch','3SsnPorch','ScreenPorch','PoolArea','MiscVal'
    ]
] = scaler.fit_transform(
    final_df[[
        'LotFrontage','LotArea','MasVnrArea','BsmtFinSF1','BsmtFinSF2','BsmtUnfSF','TotalBsmtSF',
        '1stFlrSF','2ndFlrSF','LowQualFinSF','GrLivArea','GarageArea','WoodDeckSF','OpenPorchSF',
        'EnclosedPorch','3SsnPorch','ScreenPorch','PoolArea','MiscVal'
    ]]
)

### Dummy Encoding

In [28]:
dummy_test = pd.get_dummies(final_df,drop_first=True)
dummy_test.shape

(2917, 244)

### Get the original test_set

In [29]:
final_test = dummy_test[:1459]
final_test.shape

(1459, 244)

In [30]:
final_test[1458:]

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
1458,2919,60,0.181507,0.038921,7,5,0.05875,0.134302,0.0,0.101884,...,0,0,0,0,1,0,0,0,1,0

### Load model

In [31]:
import pickle

### Linear Regression Model

In [60]:
with open('linear_reg_model.pkl','rb') as f:
    lr_model = pickle.load(f)

In [63]:
lr_dataframe = pd.DataFrame(lr_model.predict(final_test),columns=['SalePrice'])
lr_dataframe = pd.concat([df.Id,lr_dataframe],axis=1)
lr_dataframe.head()

In [62]:
lr_dataframe.to_csv('lr_DataFrame.csv',index=False)

### Random Forrest Regressor Model

In [35]:
with open('randomforest_reg_model.pkl','rb') as f:
    rfr_model = pickle.load(f)

In [36]:
rfr_dataframe = pd.DataFrame(rfr_model.predict(final_test),columns=['SalePrice'])
rfr_dataframe = pd.concat([df.Id,rfr_dataframe],axis=1)
rfr_dataframe.head()

In [37]:
rfr_dataframe.to_csv('rfr_DataFrame.csv',index=False)

### XGBoost Regressor

In [53]:
with open('xgb_param_reg_model.pkl','rb') as f:
    xgb_param_model = pickle.load(f)

In [54]:
xgb_param_dataframe = pd.DataFrame(xgb_param_model.predict(final_test),columns=['SalePrice'])
xgb_param_dataframe = pd.concat([df.Id,xgb_param_dataframe],axis=1)
xgb_param_dataframe.head()

     Id      SalePrice
0  1461  128062.890625
1  1462  169647.421875
2  1463  172493.062500
3  1464  201784.468750
4  1465  196624.296875

In [55]:
xgb_param_dataframe.to_csv('xgb_param_DataFrame.csv',index=False)

In [56]:
with open('xgb_simple_reg_model.pkl','rb') as f:
    xgb_simple_model = pickle.load(f)

In [57]:
xgb_simple_dataframe = pd.DataFrame(xgb_simple_model.predict(final_test),columns=['SalePrice'])
xgb_simple_dataframe = pd.concat([df.Id,xgb_simple_dataframe],axis=1)
xgb_simple_dataframe.head()

     Id      SalePrice
0  1461  129359.296875
1  1462  159755.562500
2  1463  189781.562500
3  1464  190051.328125
4  1465  201294.250000

In [58]:
xgb_simple_dataframe.to_csv('xgb_simple_DataFrame.csv',index=False)

### XGBoost simple is the best by far (for the purpose)